
/*
 * -------------------------------------------------
 *  Nextflow config file for use with Singularity
 * -------------------------------------------------
 * Defines basic usage limits and docker image id.
 * Imported under the default 'docker' Nextflow
 * profile in nextflow.config
 */

singularity {
  enabled = true
}
executor{
	cpus = 8
	memory = 32.GB
}
process {
  // Path to container
  container = './wgs_bacterial.simg'
  executor = 'local'

  cpus = 2
  maxForks = 2
  memory = '8 GB'
  //time = 2.h

}

env {
     _JAVA_OPTIONS = '-Xmx1G'
     //JAVA_OPTS = "-Xms512M"
}
